<div id="title-card" class="card text-center m-4 shadow rounded">
  <div class="page-card">
    The Tech Blog
  </div>
</div>



<div class="container-fluid post-container py-2">
  <!-- Loop over each object in the posts array -->
  {{#each posts as |post| }}
  <div id= "post-card" class="card m-4 border-4">
    <div class="col-md-5">
        <a href="/comments/{{post.id}}"></a>
      <div id="post-title" class="post-title px-3">
        {{post.postTitle}}
        <span>Posted by {{user.username}} on {{format_date post.date_created}}</span>
      </div>
    </div>
    <div class="post-body">
      <p>
        {{post.postBody}}
      </p>
    </div>
  </div>
  {{/each}}
</div>  